.instructions-container {
    max-width: 90%;
    background-color: #b7a8ea;
    position: relative;
    margin: 5%;
    border-radius: 15px;
    text-align: left;
    font-size: 26px;
    overflow: auto;
}

.instructions-container h3 {
    text-align: center;
}

.list {
    padding-right: 10px;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 40px;
}

.listItem {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.6;
}
