.scoreboard {
    max-width: 90%;
    width: 480px;
    background-color: #b7a8ea;
    position: relative;
    margin: 25% auto;
    border-radius: 15px;
    text-align: center;
    font-size: 26px;
    overflow: auto;
}

.scoreboard table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 40px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}


.return-button {
    position: absolute;
    left: 50%;
}


.top-line {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}

.scoreboard-container {
    padding: 0 10px;
    box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
    .scoreboard-container {
        padding: 0 5px;
    }
}

.filter-buttons {
    height: 40px;
    width: 120px;
    font-size: 16px;
    color: #000000;
    background: #E6DDFF;
    border-color: #000000;
    border-radius: 15px;
    margin-top: 10px;
}